* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background: #efaebaaf;
}

/* navbar style start */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
}


.logo {
    padding: 20px 20px;
    font-size: 36px;
    font-weight: 800;
    color: #f77089;
    letter-spacing: 1px;
}

.logo span {
    color: white;
}

sup {
    color: #d6d3d3;
    font-size: 15px;
}


.navbar-options>ul>li {
    list-style: none;
    display: inline;
    padding: 0px 20px;
}

.navbar-options a {
    text-decoration: none;
    color: #f5f2f29d;
    font-size: 20px;
}

.navbar-options a:hover {
    color: lightpink;
}


.searchholder {
    margin: 5px 10px;
    padding: 10px;
    align-items: center;
}

.searchbar {
    color: #E55473;
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 10px 0px 0px 10px;
    border: .5px solid #efaeba8a;
}


.searchbar::placeholder {
    color: #E55473;
}


.search-btn {
    font-size: 18px;
    padding: 3px 5px;
    background: lightpink;
    border-radius: 0 10px 10px 0;
    border: none;
}

/* navbar style End */

/* --------------------------------------------------- */
/* banner style start */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20 0px;
    margin-bottom: 40px;
}

.banner-content {
    margin: 40px 20px 20px;
    padding: 30px 10px 0px;
    width: 100%;
}

.banner-title {
    padding: 10px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 800px;
}

.banner-description {
    margin-top: 20px;
    padding: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 634px;
}

.buttons {
    font-size: 18px;
    margin: 15px;
    padding: 15px 35px;
    align-items: flex-start;
    border-radius: 8px;
    background: #E55473;
    border: 0;
}

.buttons:hover {
    background: transparent;
    border: 2px solid #E55473;
}

.banner-image {
    width: 500px;
    padding-right: 20px;
}

/* banner style end */
/*  */
.cetagory-cart {
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    
    
}

.flower-cetagory a {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.cart1{
    background: rgba(167, 33, 98, 0.15);
}

.cart2{
    background: rgba(5, 151, 160, 0.15)
}

.cart3{
    background: rgba(71, 125, 17, 0.15);
}

/*  */

/*-- hot deal section start --*/

.offer-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    padding: 100px 200px 100px;
    background: #E554730D;
}


.offer-content {
    text-align: center;
}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-title>span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
}

.offer-image {
    width: 200px;
    padding-right: 100px;
}

/*-- hot deal section end --*/
/*-----------------------------*/
/*--------------- social media style start ------------------*/

.social-section {
    text-align: center;
}

.media-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 40px;
    padding-top: 40px;
}

.media-decription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 5px 24px 5px;
}

.cart-holder {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 100px;

}

.flower-cart,
.cetagory-cart {
    margin: 20px 10px;
    padding-bottom: 0px;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #727272;
}

/*------------------ social media style end -----------------------*/
/* ---------------  */

.subscribe-section {
    text-align: center;
    background-image: url(../images/subscribe-bg.png);
    width: 1440px;
    margin: 30px auto;
    padding: 40px 20px;
}

.sub-title {
    margine: 10px 0px;
    padding-left: 5px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sub-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.input-field {
    padding: 20px 10px;
}

.Subscribe-input {
    padding: 22px 20px;
    width: 700px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
}

.sub-btn {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    padding: 22px 20px
}

/* ---------------------------------------------------------------- */
/*----------------- footer section style start ---------------*/
footer {
    background: #111010;
    text-align: center;
    padding: 40px 50px;
}

footer p {
    color: #d6d3d3;
    padding-bottom: 30px;
}

/* footer section style end */