* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background: #efaebaaf;
}
/* navbar style start */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}


.logo{
    padding: 20px 20px;
    font-size: 36px;
    font-weight: 800;
    color: #f77089;
    letter-spacing: 1px;
}


.navbar-options>ul>li{
    list-style: none;
    display: inline;
    padding: 0px 10px;
}

.navbar-options a{
    text-decoration: none;
    color: #2727279d;
    font-size: 20px;
}

.navbar-options a:hover{
    color: #efaebaaf;
}


.searchholder{
    margin: 5px 10px;
    padding: 10px;
    align-items: center;
}

.searchbar{
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 10px 0px 0px 10px;
    border: .5px solid #efaeba8a;
}

.search-btn{
    font-size: 18px;
    padding: 2px 5px;
    background: #efaebaaf ;
    border-radius: 0 10px 10px 0;
    border: none;
}


/* navbar style End */
/* --------------------------------------------------- */
/* banner style start */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20 0px;
}

.banner-content {
    margin: 40px 20px 20px;
    padding: 30px 10px 0px;
    width: 100%;
}

.banner-title {
    padding: 10px ;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 800px;
}

.banner-description {
    margin-top: 20px;
    padding: 10px ;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 634px;
}

.buttons {
    font-size: 18px;
    margin: 15px;
    padding: 15px 35px;
    align-items: flex-start;
    border-radius: 8px;
    background: #E55473;
    border:0;
}

.buttons:hover{
    background: transparent;
    border: 2px solid #E55473;
}

.banner-image {
    width: 500px;
    padding-right: 20px ;
}
/* banner style end */